{
    "sourceMaps": "inline",
      "presets": [
          ["@babel/preset-env", {
              "targets": {
                  "node": "8.11"
              }
          }]
      ],
      "plugins": [ "@babel/plugin-proposal-class-properties" ]
  }
  